.content_panel

  = form_for @bee do |f|
    -if @bee.errors.any?
      #error_explanation
        %h2= "#{pluralize(@bee.errors.count, "error")} prohibited this bee from being saved:"
        %ul
          - @bee.errors.full_messages.each do |msg|
            %li= msg

    = f.text_field :name  ,{"placeholder"=>"name"}
    = f.text_field :username ,{"placeholder"=>"username"}

    = f.text_field :email ,{"placeholder"=>"email"}
    = f.text_field :password ,{"placeholder"=>"password"}
