.title 
	%span This are all the bee's

%ul.list.content_panel
	%li.header
		%span Name
		%span Email
		%span Username
		%span Password

	- @bees.each do |bee|
		%li
			%span= bee.name
			%span= bee.email
			%span= bee.username
			%span= bee.password
			%span.button= link_to 'Edit', edit_bee_path(bee)
			%span.button= link_to 'Destroy', bee, :confirm => 'Are you sure?', :method => :delete

.action_bar

	.action_button
		= link_to 'New', new_bee_path

