.title
  %span#notice= notice

%ul.list.content_panel
  %li
    %span 
      Name:
      = @bee.name
  %li
    %span 
      Email:
      = @bee.email
  %li
    %span
      Username:
      = @bee.username
  %li
    %span
      Password:
      = @bee.password

.action_bar
 
  .action_button
    = link_to 'Edit', edit_bee_path(@bee)

  .action_button
    = link_to 'Back', bees_path
